%nav.navbar.navbar-default
  %div.container-fluid
    %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li= link_to 'Wyloguj', destroy_user_session_path, method: :delete
