%nav.navbar.navbar-default
  %div.container-fluid
    %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li= link_to I18n.t(:logout), destroy_user_session_path, method: :delete if current_user
        %li= link_to I18n.t(:my_account), edit_user_registration_path
        %li= link_to I18n.t(:my_fields), person_fields_path
        %li= link_to I18n.t(:teachers), teacher_searches_path
