@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "login";
@import "my_account";
@import "buttons";
@import "forms";
@import "lists";
@import "contents";

.alert {
  text-align: center;
}

.user-fields {
  text-align: center;
  padding: 10px;
}

.field-name {
  color: #ffffff;
  vertical-align: center;
  background-color: #4796fe;
  margin: 2px;
  border-radius: 3px;
  padding: 5px;
}
