@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "login";
@import "my_account";
@import "buttons";

.alert {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
