
form#new_user.new_user {
  display: block;
  text-align: center;
  border: 1px solid #878787;
  padding: 5px;
  width: 300px;
  margin: auto;
  // border-width: 2px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
//
// input[type=text]:focus {
//     border:2px solid #000;
// }

input[type=submit] {
    padding:5px 15px;
    background:#5eb45a;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff
}

input[type=checkbox] {
  // display: none;
  padding-left:5px;
  padding-right:5px;
  border-radius:15px;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;
  box-shadow: none;

  width:15px;
  height:15px;
}
