form#edit_user.edit_user {
  display: block;
  text-align: center;
  padding: 5px;
  width: 500px;
  margin: auto;
}

form.button_to {
  display: block;
  text-align: center;
  padding: 5px;
  width: 500px;
  margin: auto;
}

input {
  width: 50%;
}
p.unhappy {
  text-align: center;
}

div.back_link a {
  display: block;
  text-align: center;
}
