%div
  - if current_user.choice
    %div.user-fields
      = current_user.choice.teacher.full_name
  %div.user-fields
    - @result.each do |row|
      - row.map do |k, v|
        %div
          = "#{k}"
          %ul
            - v.each do |name|
              %li
                = link_to name, choices_path(name: name), method: :post, data: { confirm: "Foo?" }
